.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: #54007e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.App h1 {
  padding: 0 10px;
}

.container {
  padding: 10px;
  background-color: #ffffff;
  color: black;
  overflow-x: auto;
  flex: 1;
}

label {
  display: block;
}

form {
  flex: 1;
}

button {
  align-items: center;
  background: #54007e;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  margin: 20px 0;
  padding: 0 10px;
  position: relative;
  transition: 0.1s;
  width: 100%;
}

input:focus-visible {
  outline: none;
}

.error {
  color: red;
}
